.body {
  background-image: url("https://cdn.pixabay.com/photo/2017/10/25/19/46/piggy-2889044_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.signin-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.loginBtn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 5%;
}
